<div class="right-panel">
  <div class="lecture-info-container">
    <div class="panel-section-header">Lecture Time</div>
    <div class="lecture-info-item">
      <span class="name">MWF 10 - 10:50 AM</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="current-assignments-container">
    <div class="panel-section-header">Current Assignments</div>
    <div class="current-assignments-element">
      <img
        src="../assets/images/icons/assignments_icon.png"
        alt="Assignments Icon"
        class="nav-icon"
      />
      <span class="current-assignments-text">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSexNJYf4HO6UGUwbak_V2O9NI8aGwSzLO7-mJJ-zY0R5spP3g/viewform?usp=sf_link"
          class="link"
          >Background Survey!</a
        >
      </span>
    </div>
    <div class="current-assignments-element">
      <img
        src="../assets/images/icons/assignments_icon.png"
        alt="Assignments Icon"
        class="nav-icon"
      />
      <span class="current-assignments-text">
        <a href="https://hackmd.io/@cs111/hw1-f22" class="link">Homework 1!</a>
      </span>
    </div>
    <div class="current-assignments-element">
      <img
        src="../assets/images/icons/assignments_icon.png"
        alt="Assignments Icon"
        class="nav-icon"
      />
      <span class="current-assignments-text">No Drill Out!</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="important-dates-container">
    <div class="panel-section-header">Important Dates</div>
    <div class="important-dates-text">Midterm Quiz - 10/12 (online)</div>
    <div class="important-dates-text">
      Final -12/15 @9 AM Location: see
      <a href="https://courses.brown.edu/">CAB</a>
    </div>
  </div>
</div>
