<div class="right-panel">
  <div class="lecture-info-container">
    <div class="panel-section-header">Lecture Time</div>
    <div class="lecture-info-item">
      <span class="name">MWF 10 - 10:50 AM</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="current-assignments-container">
    <div class="panel-section-header">Current Assignments</div>
    <div class="current-assignments-element">
      <img
        src="../assets/images/icons/assignments_icon.png"
        alt="Assignments Icon"
        class="panel-icon"
      />
      <span class="current-assignments-text">No Homework Out!</span>
    </div>
    <div class="current-assignments-element">
      <img
        src="../assets/images/icons/assignments_icon.png"
        alt="Assignments Icon"
        class="panel-icon"
      />
      <span class="current-assignments-text">No Project Out!</span>
    </div>
    <div class="current-assignments-element">
      <img
        src="../assets/images/icons/assignments_icon.png"
        alt="Assignments Icon"
        class="panel-icon"
      />
      <span class="current-assignments-text">No Drill Out!</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="important-dates-container">
    <div class="panel-section-header">Important Dates</div>
    <div class="important-dates-text">Midterm 1 - 8/23</div>
    <div class="important-dates-text">Midterm 2 - 9/23</div>
    <div class="important-dates-text">Final -12/15 @11 AM Location: TBD</div>
  </div>
</div>
