---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

:root {
  /* ===== COLORS ===== */
  --color-primary: #121212;
  --color-secondary: #2a2a2a;
  --color-tertiary: #00a0e9;

  --text-color: #fff;

  --sidebar-color: #000;
  --sidebar-transition-color: #555;
  --sidebar-text-color: #b3b3b3;

  /* ===== FONTS ===== */
  --font-primary: "Raleway", sans-serif;

  /* ===== TRANSITIONS ===== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

  /* SIDEBAR */
  --sidebar-width: 220px;

  /* ANNOUNCEMENT BAR */
  --footer-height: 100px;
}

body {
  background: var(--color-primary);
  color: var(--text-color);
}

/* ===== SIDEBAR NAVIGATION ===== */

.home-sidebar {
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background: var(--sidebar-color);
  font-family: var(--font-primary);
}

.home-sidebar-toggle {
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  padding: 10px;
  display: none;
  z-index: 30;
}

.sidebar-toggle {
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  padding: 10px;
  display: none;
  z-index: 30;
}

@media (max-width: 480px) {
  .sidebar-toggle {
    display: flex;
  }
  .sidebar-content {
    flex-direction: column;
    align-items: flex-start;
    background: black;
    height: 100%;
    padding-top: 40px;
    display: none;
  }
  .sidebar {
    background: none;
    width: 60%;
  }
}

.menu-bar {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.nav-element {
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.nav-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.nav-link:hover {
  background: var(--sidebar-transition-color);
}

.nav-link:hover .nav-icon,
.nav-link:hover .nav-text {
  color: var(--text-color);
  font-family: var(--font-primary);
}

.nav-icon {
  height: 40px;
  width: 40px;
  justify-content: center;
  font-size: 20px;
  margin: 0px 20px 0px 10px;
}

.nav-text {
  font-size: 15px;
  color: var(--sidebar-text-color);
}

.nav-icon,
.nav-text {
  color: var(--sidebar-text-color);
  transition: var(--tran-03);
}

.divider {
  height: 3px;
  width: 100%;
  margin-top: 17px;
  background: #2a2a2a;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.contact-info-header {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 10px;
  color: var(--sidebar-text-color);
  font-family: var(--font-primary);
}

.contact-info-item {
  font-size: 13px;
  padding: 10px;
  color: var(--sidebar-text-color);
}

/* ===== HOME LAYOUT ===== */

#home-page-grid {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

#grid-content-area {
  overflow-x: hidden;
}

.gradient {
  background: linear-gradient(rgba(255, 0, 184, 0.2), rgba(18, 18, 18, 0.1));
  height: 200px;
  width: 100%; 
}

#home-gradient {
  background: linear-gradient(rgba(255, 0, 184, 0.2), rgba(18, 18, 18, 0.1));
  height: 200px;
  width: 100%; 
  // overflow:visible;
}

#gradient-container {
  height: 5px;
  overflow-x: clip;
  overflow-y: visible;
}

#home-page-container {
  padding: 20px 100px;
  z-index: 30;
}

.welcome-message {
  /* top | right | bottom | left */
  padding: 30px 50px 20px 0px;
  font-size: 50px;
  font-weight: bold;
  z-index: 30;
}

.course-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-description-text {
  text-align: center;
  font-size: 13px;
  padding: 10px;
  color: var(--text-color);
  background: var(--color-secondary);
  font-family: var(--font-primary);
}

.home-quick-links-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin-top: 20px;
}

.home-quick-links-element {
  flex-grow: 1;
  background: var(--color-secondary);
  padding: 0;
  border: none;
  border-radius: 5px;
  text-overflow: ellipsis;
}

.home-quick-links-element > a {
  text-decoration: none;
}

.home-quick-links-icon {
  height: 40px;
  width: 40px;
  justify-content: center;
  font-size: 20px;
}

.home-quick-links-text {
  color: #e1dede;
  font-size: 15px;
  padding: 0 10px;
  text-decoration: none;
  text-align: center;
}

.home-hours-container {
  margin-top: 20px;
}

.home-hours-header {
  font-size: 28px;
  font-weight: bold;
  color: #e1dede;
  font-family: var(--font-primary);
}

.home-calendars-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.home-calendar-text {
  font-size: 18px;
  padding: 5px 0px;
  color: #e1dede;
  font-family: var(--font-primary);
}

@media (max-width: 480px) {
  #home-page-container {
    padding: 10px 50px;
  }
  .right-panel-container {
    display: none;
  }
  .footer-container {
    display: none;
  }
}

@media (max-width: 480px) {
  :root {
    --side-bar-width: 0;
  }
  .page-container {
    margin-left: 0px;
    padding-left: 0px;
    z-index: -1;
  }
  .banner-text-header {
    font-size: 25px;
  }
  .banner-text-title {
    font-size: 50px;
    text-align: center;
  }
  .banner-text-footer {
    font-size: 12px;
  }
  #home-page-grid {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
  }  
  .home-page-container {
    /* top | right | bottom | left */
    margin: 0px 0px 30px 0px;
    margin: 0;
    padding-top: 50px;
  }
  .welcome-message {
    text-align: center;
    font-size: 30px;
    padding: 30px 50px 10px 50px;
  }
  .home-time {
    text-align: center;
    padding: 10px;
  }
  .course-description-container {
    padding: 30px 0px 0px 0px;
    width: 100%;
  }
  .course-description-text {
    font-size: 15px;
    padding: 10px 30px;
  }
  .home-quick-links-container {
    padding: 0px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-quick-links-element {
    padding: 0px;
    margin: 10px;
    width: 100%;
  }
  .home-quick-links-text {
    font-size: 20px;
    padding: 0px 10px;
  }
  .home-hours-header {
    padding: 0px;
  }
  .home-calendars-container {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-calendar {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home-calendars-container {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-calendar {
    width: 100%;
  }
}

/* ===== RIGHT PANEL ===== */

// .right-panel-container {
//   position: fixed;
//   top: 0;
//   right: 0;
//   height: 100%;
//   width: 200px;
//   padding: 0px 10px;
//   background: var(--sidebar-color);
// }

.panel-section-header {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 10px;
  color: var(--sidebar-text-color);
  font-family: var(--font-primary);
}

.lecture-info-item {
  font-size: 15px;
  padding: 10px 10px 0px 10px;
  color: var(--sidebar-text-color);
  font-family: var(--font-primary);
}

.current-assignments-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.current-assignments-header {
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  color: var(--text-color);
  font-family: var(--font-primary);
}

.current-assignments-element {
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.current-assignments-icon {
  height: 40px;
  width: 40px;
  justify-content: center;
  font-size: 20px;
  margin: 0px 20px 0px 10px;
}

.current-assignments-text {
  font-size: 15px;
  color: var(--sidebar-text-color);
  font-family: var(--font-primary);
}

.important-dates-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.important-dates-header {
  font-size: 17px;
  font-weight: bold;
  padding: 0px 10px 10px 10px;
  color: var(--text-color);
  font-family: var(--font-primary);
}

.important-dates-text {
  font-size: 15px;
  padding: 10px;
  color: var(--sidebar-text-color);
  font-family: var(--font-primary);
}

.anonymous-feedback-form-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

/* ===== ANNOUNCEMENT SECTION ===== */

.footer-container {
  height: var(--footer-height);
  /* top | right | bottom | left */
  margin: 50px 0 0 0;
  width: 100%;
  background: var(--color-primary);
}

.footer-divider {
  height: 3px;
  width: 100%;
  background: #2a2a2a;
}

.footer-wrapper {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--font-primary);
  margin-top: -10px;
  padding-bottom: 15px;
  text-align: center;
}

.big-footer-divider {
  height: 3px;
  width: 60%;
  background: #dbdbdb;
}

@media only screen and (device-width: 768px) {
  .footer-container {
    display: none;
  }
}

@media only screen and (device-width: 820px) {
  .footer-container {
    display: none;
  }
}

/* ===== BANNER CONTENT LAYOUT ===== */

.Labs-background,
.Assignments-background {
  background: linear-gradient(rgba(165, 120, 89, 0.2), rgba(18, 18, 18, 0.2));
  height: 200px;
}

.Resources-background,
.Staff-background {
  background: linear-gradient(rgba(133, 89, 125, 0.5), rgba(18, 18, 18, 0.5));
  height: 200px;
}

.page-container {
  margin-left: 200px;
  padding-left: 20px;
  background: #121212;
}

.banner-container {
  position: relative;
}

.banner-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
  margin-top: -30px;
}

.banner-text-header {
  position: absolute;
  bottom: 110px;
  left: 16px;
  font-size: 25px;
  color: #fff;
  z-index: 10;
  text-transform: uppercase;
  color: #e3e3e3;
  font-family: var(--font-primary);
}

.banner-text-title {
  position: absolute;
  bottom: 40px;
  left: 16px;
  font-size: 60px;
  font-weight: bold;
  color: var(--text-color);
}

.banner-text-footer {
  position: absolute;
  bottom: 20px;
  left: 16px;
  font-size: 15px;
  color: #fff;
  z-index: 10;
  color: #e3e3e3;
}

/* ===== GENERATING TABLES LAYOUT ===== */

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  border-collapse: collapse;
  caption {
    font-size: 35px;
    font-weight: bold;
    font-family: var(--font-primary);
    text-align: $table-text-align;
    padding: $spacing-unit $spacing-unit 0px 30px;
    text-transform: uppercase;
    color: #fff;
  }
  th {
    border-bottom: 3px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--font-primary);
    color: #e1dede;
    padding: 10px 20px 0px 30px;
  }
  td {
    font-size: 16px;
    font-family: var(--font-primary);
    padding: 10px 30px;
    color: #e1dede;
  }
  td a,
  td li {
    color: #e1dede;
    &:visited {
      color: #e1dede;
    }
    &:hover {
      color: grey;
    }
  }
  td ul {
    padding: 0px;
  }
}

/* ===== STAFF PAGE ===== */

.staff-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 100%;
  height: 100%;
  background: #282828;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  color: black;
}

.staff-image-container {
  width: 180px;
  height: 180px;
  // border-radius: 50%;
  background: #d25625;
  margin-bottom: 20px;
}

.staff-image {
  // width: 150px;
  // height: 150px;
  // object-fit: cover;
  // object-position: center;
  border-radius: 50%;
  // place the item in the center of the container
  // margin: 0 auto;
  // center the item horizontally
  display: block;
  // make the item take up the full width
  // margin-bottom: 20px;
}

.staff-name {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-primary);
  color: #e1dede;
}

.staff-cs-login {
  font-size: 16px;
  font-family: var(--font-primary);
  color: #cdcdcd;
}

.staff-pronouns {
  font-size: 16px;
  font-family: var(--font-primary);
  color: #cdcdcd;
}

/* ===== STAFF MODAL ===== */

.staff-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.modal-text {
  color: black;
}

.modal-content {
  background-color: #96f0b6;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #a9a9a9;
  text-decoration: none;
  cursor: pointer;
}

/* ===== CALENDAR PAGE ===== */

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.calendar-element {
  padding: 30px;
}
