---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Dashes here are required!

@import "minima";

:root {
  /* ===== COLORS ===== */
  --color-primary: #121212;
  --color-secondary: #2a2a2a;
  --color-tertiary: #00a0e9;

  --text-color: #fff;

  --sidebar-color: #000;
  --sidebar-transition-color: #555;
  --sidebar-text-color: #b3b3b3;

  /* ===== FONTS ===== */
  --font-primary: "Raleway", sans-serif;

  /* ===== TRANSITIONS ===== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

  /* SIDEBAR */
  --sidebar-width: 220px;

  /* ANNOUNCEMENT BAR */
  --footer-height: 100px;

  /* SCREEN WIDTHS */
  --small-screen: 480px;
  --med-screen: 768px;
}

body {
  background: var(--color-primary);
  color: var(--text-color);
}

/* ===== SIDEBAR NAVIGATION ===== */

.black-background {
  background: black;
  width: 30vw;
}

.sidebar {
  top: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  width: 100%;
  background: var(--sidebar-color);
  font-family: var(--font-primary);
}

.sidebar-toggle {
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  display: none;
  z-index: 50;
}

.sidebar-toggle img {
  padding: 10px;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.nav-element {
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.nav-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: var(--tran-04);
}

.nav-link:hover {
  background: var(--sidebar-transition-color);
}

.nav-link:hover .nav-icon,
.nav-link:hover .nav-text {
  color: var(--text-color);
  font-family: var(--font-primary);
}

.nav-icon {
  height: 40px;
  width: 40px;
  justify-content: center;
  font-size: 20px;
  margin: 0px 20px 0px 10px;
}

.nav-text {
  max-width: 100%;
  font-size: 1rem;
  color: var(--sidebar-text-color);
}

.nav-icon,
.nav-text {
  color: var(--sidebar-text-color);
  transition: var(--tran-03);
}

.divider {
  height: 3px;
  width: 100%;
  margin-top: 17px;
  background: #2a2a2a;
}

.contact-info-container {
  max-width: 100%;
  white-space: wrap;
  height: 100%;
  padding-top: 20px;
  overflow-x: auto;
}

.contact-info-header {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 10px;
  color: var(--sidebar-text-color);
  font-family: var(--font-primary);
}

.contact-info-item {
  font-size: 13px;
  padding: 10px;
  color: var(--sidebar-text-color);
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    background: none;
    width: 50vw;
  }
  .sidebar-content {
    text-overflow: ellipsis;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    background: black;
    height: 100%;
  }
  .sidebar-toggle {
    display: block;
    position: fixed;
  }
}

/* ===== HOME LAYOUT ===== */

#home-page-grid {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

#grid-content-area {
  overflow-x: hidden;
}

.gradient {
  background: linear-gradient(rgba(255, 0, 184, 0.2), rgba(18, 18, 18, 0.1));
  height: 200px;
  width: 100%;
}

#home-gradient {
  background: linear-gradient(rgba(255, 0, 184, 0.2), rgba(18, 18, 18, 0.1));
  height: 200px;
  width: 100%;
}

#gradient-container {
  height: 5px;
  overflow-x: clip;
  overflow-y: visible;
}

#home-page-container {
  overflow: auto;
  padding: 20px 100px;
  z-index: 30;
}

#welcome-message {
  /* top | right | bottom | left */
  padding: 15px 50px 20px 0px;
  font-size: 2rem;
  font-weight: bold;
  z-index: 30;
}

.course-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-description-text {
  text-align: left;
  font-size: 13px;
  padding: 10px;
  color: var(--text-color);
  background: var(--color-secondary);
  font-family: var(--font-primary);
}

.home-quick-links-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin-top: 20px;
}

.home-quick-links-element {
  flex-grow: 1;
  background: var(--color-secondary);
  padding: 0;
  border: none;
  border-radius: 5px;
  text-overflow: ellipsis;
}

.home-quick-links-element > a {
  text-decoration: none;
}

.home-quick-links-icon {
  height: 40px;
  width: 40px;
  justify-content: center;
  font-size: 20px;
}

.home-quick-links-text {
  color: #e1dede;
  font-size: 15px;
  padding: 0 10px;
  text-decoration: none;
  text-align: center;
}

.home-resources {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.home-resources-info {
  width: 300px;
}

.home-resources-text {
  font-size: 24px;
  font-weight: bold;
  padding: 5px 0px;
  color: #fff;
  text-align: left;
  font-family: var(--font-primary);
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  #home-page-container {
    padding: 10px 50px;
  }
  .home-quick-links-container {
    gap: 8px;
  }
  .right-panel {
    display: none;
  }
}

@media (max-width: 768px) {
  .page-container {
    margin-left: 0px;
    padding-left: 0px;
    z-index: -1;
  }
  .banner-text-header {
    font-size: 25px;
  }
  .banner-text-title {
    font-size: 50px;
    text-align: center;
  }
  .banner-text-footer {
    font-size: 12px;
  }
  #home-page-grid {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
  }
  .home-page-container {
    /* top | right | bottom | left */
    margin: 0px 0px 30px 0px;
    margin: 0;
    padding-top: 50px;
  }
  .welcome-message {
    text-align: center;
    font-size: 30px;
    padding: 30px 20px 10px 50px;
  }
  .home-time {
    text-align: center;
    padding: 10px;
  }
  .course-description-container {
    padding: 30px 0px 0px 0px;
    width: 100%;
  }
  .course-description-text {
    font-size: 15px;
    padding: 10px 30px;
  }
  .home-quick-links-container {
    padding: 0px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-quick-links-element {
    padding: 0px;
    margin: 10px;
    width: 100%;
  }
  .home-quick-links-text {
    font-size: 20px;
    padding: 0px 10px;
  }
  .home-calendars-container {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-calendar {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home-calendars-container {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home-calendar {
    width: 100%;
  }
}

/* ===== BANNER CONTENT LAYOUT ===== */

.banner-container {
  position: relative;
}

.banner-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
  margin-top: -30px;
}

.banner-text-header {
  position: absolute;
  bottom: 110px;
  left: 16px;
  font-size: 25px;
  color: #fff;
  z-index: 10;
  text-transform: uppercase;
  color: #e3e3e3;
  font-family: var(--font-primary);
}

.banner-text-title {
  position: absolute;
  bottom: 40px;
  left: 16px;
  font-size: 60px;
  font-weight: bold;
  color: var(--text-color);
}

.banner-text-footer {
  position: absolute;
  bottom: 20px;
  left: 16px;
  font-size: 15px;
  color: #fff;
  z-index: 10;
  color: #e3e3e3;
}

.banner-content-layout {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
}

.page-container {
  overflow-y: auto;
  padding: 20px 0;
}

.Labs-background,
.Assignments-background {
  background: linear-gradient(rgba(165, 120, 89, 0.2), rgba(18, 18, 18, 0.2));
  height: 200px;
}

.Resources-background,
.Staff-background {
  background: linear-gradient(rgba(133, 89, 125, 0.5), rgba(18, 18, 18, 0.5));
  height: 200px;
}
@media only screen and (max-width: 768px) {
  .banner-content-layout {
    grid-template-columns: 30% 70%;
  }
}

@media only screen and (max-width: 768px) {
  .banner-content-layout {
    grid-template-columns: 0% 100%;
  }
}

/* ===== RIGHT PANEL ===== */

.right-panel {
}

.lecture-info-container {
  padding-top: 20px;
}

.panel-section-header {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 10px;
  color: var(--sidebar-text-color);
  font-family: var(--font-primary);
}

.lecture-info-item {
  font-size: 15px;
  padding: 10px 10px 0px 10px;
  color: var(--sidebar-text-color);
  font-family: var(--font-primary);
}

.current-assignments-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.current-assignments-header {
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  color: var(--text-color);
  font-family: var(--font-primary);
}

.current-assignments-element {
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.current-assignments-icon {
  height: 40px;
  width: 40px;
  justify-content: center;
  font-size: 20px;
  margin: 0px 20px 0px 10px;
}

.current-assignments-text {
  font-size: 15px;
  color: var(--sidebar-text-color);
  font-family: var(--font-primary);
}

.important-dates-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.important-dates-header {
  font-size: 17px;
  font-weight: bold;
  padding: 0px 10px 10px 10px;
  color: var(--text-color);
  font-family: var(--font-primary);
}

.important-dates-text {
  font-size: 15px;
  padding: 10px;
  color: var(--sidebar-text-color);
  font-family: var(--font-primary);
}

.important-dates-container a {
  color: #2a7ae2;
  &:visited {
    color: #2a7ae2;
  }
  &:hover {
    color: grey;
  }
}

.anonymous-feedback-form-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

/* ===== GENERATING TABLES LAYOUT ===== */

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  border-collapse: collapse;
  caption {
    font-size: 35px;
    font-weight: bold;
    font-family: var(--font-primary);
    text-align: $table-text-align;
    padding: $spacing-unit $spacing-unit 0px 30px;
    text-transform: uppercase;
    color: #fff;
  }
  th {
    border-bottom: 3px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--font-primary);
    color: #e1dede;
    padding: 10px 20px 0px 30px;
  }
  td {
    font-size: 16px;
    font-family: var(--font-primary);
    padding: 10px 30px;
    color: #e1dede;
  }
  td a,
  td li {
    color: #2a7ae2;
    &:visited {
      color: #2a7ae2;
    }
    &:hover {
      color: grey;
    }
  }
  td ul {
    padding: 0px;
  }
}

/* ===== STAFF PAGE ===== */

.staff-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

.staff-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #282828;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  color: black;
}

.staff-image-container {
  width: 180px;
  height: 180px;
  // border-radius: 50%;
  background: #d25625;
  margin-bottom: 20px;
}

.staff-image {
  // width: 150px;
  // height: 150px;
  // object-fit: cover;
  // object-position: center;
  border-radius: 50%;
  // place the item in the center of the container
  // margin: 0 auto;
  // center the item horizontally
  // display: block;
  // make the item take up the full width
  // margin-bottom: 20px;
  object-fit: cover;
  width: 200px;
  height: 180px;
}

.staff-name {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-primary);
  color: #e1dede;
}

.staff-cs-login {
  font-size: 16px;
  font-family: var(--font-primary);
  color: #cdcdcd;
}

.staff-pronouns {
  font-size: 16px;
  font-family: var(--font-primary);
  color: #cdcdcd;
}

/* ===== STAFF MODAL ===== */

.staff-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.modal-text {
  color: black;
}

.modal-content {
  background-color: #96f0b6;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #a9a9a9;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  align-items: start;
}

.modal-top-songs-header {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--font-primary);
  text-align: $table-text-align;
  padding: 0px $spacing-unit 0px 30px;
  text-transform: uppercase;
  color: #000;
}

.modal-top-songs-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  font-family: var(--font-primary);
  padding: 2px 30px;
  color: #000;
}

.modal-hometown {
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: bold;
  color: black;
}

.modal-bio {
  padding-top: 20px;
  font-size: 16px;
  font-family: var(--font-primary);
  color: black;
}

/* ===== CALENDAR PAGE ===== */

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.calendar-element {
  padding: 30px;
}

/* ===== RESOURCES PAGE LAYOUT ===== */

.r-header {
  font-family: var(--font-primary);
}

.resource-container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 20px;
}
#contactsRes {
  width: 25%;
}
#spacerRes {
  width: 30%;
}
#pagesRes {
  width: 45%;
}
.boxtainer {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 20px;
}
.separator {
  width: 3%;
}
.double-separator {
  width: 6%;
}
.backbox {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  position: relative;
  background-color: #474040;
  padding: 10px;
  width: 25%;
  text-align: center;
}

/* ===== LECTURE PAGE ===== */

.lecture-container {
  display: grid;
  grid-template-columns: 70% 20%;
  grid-template-rows: auto;
  grid-gap: 50px;
}

@media (max-width: 768px) {
  .lecture-container {
    display: flex;
    flex-wrap: wrap;
  }
  .lecture-about-container {
    display: none;
  }
}

.lecture-divider {
  height: 3px;
  width: 100%;
  margin-top: 17px;
  background: #2a2a2a;
}

.lecture-menu {
  font-size: 30px;
  padding: 20px 0px 0px 30px;
  text-align: left;
  color: #e1dede;
  font-weight: bold;
  font-family: var(--font-primary);
}

.lecture-title {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--font-primary);
  color: #e1dede;
  padding-top: 20px;
}

.lecture-title a {
  color: #e1dede;
  &:visited {
    color: #e1dede;
  }
  &:hover {
    color: grey;
  }
}

.lecture-readings,
.lecture-handouts,
.lecture-files {
  font-size: 16px;
  font-family: var(--font-primary);
  color: #e1dede;
}

.lecture-readings a,
.lecture-handouts a,
.lecture-files a {
  color: #2a7ae2;
  &:visited {
    color: #2a7ae2;
  }
  &:hover {
    color: grey;
  }
}

.lecture-content {
  padding: 0px 30px;
}

.lecture-content-footer {
  // space between the two elements
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 3px;
  font-size: 16px;
  font-family: var(--font-primary);
}

.about-header {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--font-primary);
  color: #e1dede;
  padding-top: 20px;
}

.link {
  color: #2a7ae2;
  &:visited {
    color: #2a7ae2;
  }
  &:hover {
    color: grey;
  }
}
