{% include base.html %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include left-panel.html -%}

    <main class="page-container" aria-label="Content">
        <div class="banner-content">
          <img
          src="../assets/images/banners/{{page.banner}}"
          alt="{{page.title}}"
          class="banner-img"
          />
          {{ content }}
      </div>
      </div>
    </main>

    <!-- Include right panel and footer announcements only for home page. -->
    {% if page.title == "Home" %}
    {%- include right-panel.html -%}
    {%- include footer-announcement.html -%}
    {% endif %}

  </body>

</html>